.projects-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
    padding: 20px 0;
  }
}
